<!DOCTYPE html>
<html lang="en" class = "bg-dark">

	<head>
		<title>Jared</title>
		<meta charset="utf-8">
		<link rel="icon" href='./globecon.png'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
		<!link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
		<link rel="stylesheet" href="./style.css">
	</head>
	<body>
		<div id="app" class="bg-dark">
			<div id="external-links">
				<a href="https://gitlab.com/jaredamcdon" target="_blank"><i class="fab fa-gitlab"></i></a>
				<a href="https://github.com/jamcdon/" target="_blank"><i class="fab fa-github"></i></a>
				<a href="https://codepen.io/jamcdon" target="_blank"><i class="fab fa-codepen"></i></a>
				<a href="https://www.linkedin.com/in/jared-mcdonald-cs/" target="_blank"><i class="fab fa-linkedin"></i></a>
				<a href="https://www.youtube.com/channel/UCbBaIriGE6NW2xvgsT8m-lA" target="_blank"><i class="fab fa-youtube"></i></a>
			</div>
			<div id="nav">
				<ul class="nav flex-column" id="internal-nav">
  					<li class="nav-item">
   	 				<a class="nav-link text-info" href="#projects">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-info" href="#tools">Skills</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-info" href="#experience">Experience</a>
					</li>
				</ul>
			</div>
			<div id="mailto" class="d-inline-flex">
				<a class="text-info text-decoration-none" href="mailto:jaredamcdon@gmail.com">jaredamcdon@gmail.com</a>
				<span></span>
			</div>
			<div id="centerContainer" class="rounded-3">
				<div id="hero" class="container-fluid py-3 bg-light border rounded-3">
					<div id="hiIm" class="d-inline-flex">
						<img src="./img/circle-me.png" class="image-responsive"><img/>
						<h1 class="display-3">
							Hi, I'm Jared and I'm a 
							<span>
								<u class="text-success"><em>{{roles[role]}}</em></u>		
							</span>		
						</h1>
					</div>
					<div id='projects' class="spacing bg-dark">
						<br>
					</div>
					<p id="projIntro" class="text-start h3">My current projects</p>
					<div id="carWrap" class="border border-secondary rounded">
						<div id="demo" class="bg-light carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
							<!-- Indicators/dots -->
							<div class="carousel-indicators">
								<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
									<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
									<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
									<button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
									<button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
									<button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
									<button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
							</div>
							<!-- The slideshow/carousel -->
							<div class="carousel-inner">
								<div class="carousel-item active ">
									<div>
										<h3 class="h3">{{project0.name}}</h3>
										<p class="p-3">>{{project0.usage}}</p>
										<img v-bind:src="project0.img"><img/>
										<p>Status: <span v-bind:class="project0.statusText">{{project0.status}}</span></p>
										<div class="d-inline-flex">
											<ul>
												<li v-for="tool in project0.langFrame"><i>{{tool}}</i></li>
											</ul>
										</div>
									</div>
									<div id="snip">
										<h3>{{project0.snippetLang}}<i class="fab" v-bind:class="project0.faIcon"></i></h3>
										<a v-if="project0.link" :href="project0.link" target="_blank" class="link-primary"><p>{{project0.link}}</p></a>
										<pre class="bg-dark">
											<code class="text-light">{{project0.snippet}}</code>
										</pre>
									</div>
								</div>
								<div class="carousel-item" v-for="project in projects">
									<div>
										<h3 class="h3">{{project.name}}</h3>
										<p class="p-3">>{{project.usage}}</p>
										<img v-bind:src="project.img"><img/>
										<p>Status: <span v-bind:class="project.statusText">{{project.status}}</span></p>
										<div class="d-inline-flex">
											<ul>
												<li v-for="tool in project.langFrame"><i>{{tool}}</i></li>
											</ul>
										</div>
									</div>
									<div id="snip">
										<h3>{{project.snippetLang}}<i class='fab' v-bind:class="project.faIcon"></i></h3>
										<a v-if="project.link" :href="project.link" tarrget="_blank" class="link-primary"><p>{{project.link}}</p></a>
										<pre class="bg-dark">
											<code class="text-light">{{project.snippet}}</code>
										</pre>
									</div>
								</div>
							</div>
						<!-- Left and right controls/icons -->
						<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
							<span class="carousel-control-next-icon"></span>
						</button>
						</div>
					</div>
				</div>
					<div class="spacing bg-dark">
						<br>
					</div>
				<div id="tools">
					<div>
						<h2 class="text-light">Honing My Skills </h2>
					</div>
					<div id="skill-cards">
						<div v-for="skill in skills" class="card">
							<div class="card-body">
								<span class="card-title text-primary d-inline-flex">
									<h2 class="h3 fw-bold">{{skill.tool}}</h2>
									<i class="h3" v-bind:class="skill.class"></i>
								</span>
								<hr>
								<span class="card-text">
									<span class="d-inline-flex">
										<p class="text-primary font-monospace">{{skill.stars}}</p>
										<span class="spacing-span"></span>
										<p class="fw-bold">{{skill.pct}}</p>
									</span>
									<p class="spec">Specialties</p>
									<ul>
										<li v-for="specialty in skill.specialties">{{specialty}}</li>
									</ul>
									<p>Learning: {{skill.learning}}</p>
								</span>
							</div>
						</div>
					</div>
				</div>
					<div class="spacing bg-dark">
						<br>
					</div>
				<div id="experience" class="bg-light">
					<div id="xp-header">
						<h2>Experience</h2>
					</div>
					<div id="xp-school">
						<div>
							<h3>Education</h3>
							<hr>
						</div>
						<div v-for="deg in school">
							<h3>
								<span class="fw-bold">
									{{deg.degreeName}},
								</span>
								<span class="fst-italic">
									{{deg.name}}, {{deg.location}}
								</span>
							</h3>
							<p class="h5">{{deg.degreeFocus}}</p>
							<p class="h6">{{deg.degreeType}}</p>
							<p class="h6">{{deg.gpa}} GPA</p>
							<p>{{deg.startEnd}}</p>
						</div>
					</div>
					<div id="xp-work">
						<div>
							<h3>Professional</h3>
							<hr>
						</div>
						<div v-for="job in work">
							<h4>
								<span class="fw-bold">
									{{job.name}},
								</span>
								<span class="fst-italic">
									{{job.role}}
								</span>
							</h4>
							<p class="h6">{{job.excerpt}}</p>
							<p class="h6">{{job.location}}</p>
							<p>{{job.startEnd}}</p>
						</div>
					</div>
					<div id="orgsAwards">
						<div>
							<h3>Organizations & Awards</h3>
							<hr>
						</div>
						<div id="activity-wrap" class="d-inline-flex">
							<div v-for="activity in xpEtc">
								<h4>{{activity.org}}</h4>
								<h6>{{activity.title}}</h6>
								<p>{{activity.excerpt}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="spacing bg-dark">
					<br>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
		<script src="./script.js"></script>
	</body>
</html>