#centerContainer{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}
#hero{
	margin-top: 3em !important;
}
#hero span{
	display:inline-block;
	width: 9em;
	text-align: left;
}
#hiIm{
	height:18vh;
}
#external-links {
	text-align: right;
	padding-right:2em;
	position: fixed;
	top: 0;
	right:0;
}
#external-links i {
	color:white;
	font-size:2em;
	padding:.2em;
}
.spacing{
	padding:4em;
	width:110%;
	margin-left:-4em;
}
code {
    text-align: left;
}
.carousel-item {
    width: 100%;
    margin:auto;
    padding: 0 15% 0 15%;
}

.carousel-item.active{
	display: flex !important;
	justify-content: space-between;
	height: 750px;
}
pre {
	padding: 1em;
}
.carousel-item div img {
	height:200px;
}
#snip h3, #snip a p {
	text-align: right;
}
.carousel-item {
	padding: 0 5% 0 5% !important;
}
.carousel-control-next, .carousel-control-prev {
	width: 5% !important;
}
#skill-cards{
	display: grid;
	grid-template-columns: auto auto auto;
	margin:auto;
	padding: 0 2em 0 2em;
}
.card {
	margin: 2em;
}
.card-title {
	width: 100%;
	justify-content: space-between;
}
.spacing-span {
	width:1em;
}
#experience{
	padding: 2em;
	max-width: 1500px !important;
	margin: auto;
}
#experience div{
	margin: 1em;
}
#projIntro{
	margin:1em;
}
.spec{
	margin: 0;
}
#activity-wrap{
	justify-content: space-around;
	width: 100%;
}
#nav{
	position: fixed;
	top: 0;
	left: 0;
}
#mailto{
	writing-mode: vertical-rl;
	position:fixed;
	bottom: 1%;
	right: 5%;
}
#mailto a{
	padding-left: .5em;
	padding-bottom: .5em;
}
#mailto span{
	content: "";
display: block;
width: 0px;
height: 90px;
margin: 0px auto;
color: #0dcaf0;
border: 1px solid #0dcaf0;
}